# Ignore future weeks
# 01_*
# 02_*
# 03_*
04_*
05_*
06_*
07_*
09_*
10-11_*
12-13_*

# Ignore future data
data/dass_personality/*
data/degrees_salary/*
data/kaggle/*
# data/ncds will not be released on GitHub due to sharing restrictions
data/schizotypy/*
# data/student_math/*


# Ignore future scripts
# materials/source/glm_gradient_descent.R
materials/source/single_layer_net.R
