# Ignore future weeks
# 01_*
# 02_*
# 03_*
# 04_*
# 05_*
# 06_*
# 07_*
# 08_*
09_*
10-11_*
12-13_*

# Ignore future data
# data/bipolar_depression/*
data/dass_personality/*
data/ipip/*
# data/kaggle/*
# data/ncds will not be released on GitHub due to sharing restrictions
# data/sapa.RData
# data/schizotypy/*
# data/student_math/*
# data/university_salary/*

# Ignore future scripts
# materials/source/glm_gradient_descent.R
# materials/source/single_layer_net.R

# Ignore keys
# keys/*
# keys/AHA-01_*.pdf
# keys/AHA-02_*.pdf
# keys/AHA-03_*.html
# keys/AHA-04_*.pdf
# AHA-05: Kaggle competition, no key
# keys/AHA-06_*
# keys/AHA-07_*
keys/AHA-08_*
keys/AHA-09_*
